<html>
    <body>
        <form action="../control/operation.php" method="POST" >
        <table>
        <tr>
         <td>Enter the 1st number :</td> 
         <td><input type="number" name ="first"></td>
        </tr>
        <tr>
         <td>Enter the 2nd number : </td>
         <td><input type="number" name ="second"></td>
        </tr>
        <tr>
         <td>Select the opertors :</td>
        </tr>
        <tr>
         <td><input type="radio" name ="calculation" value="+">+</td>
        </tr>
        <tr>
         <td><input type="radio" name ="calculation" value="*">*</td>
        </tr>
        <tr>
         <td><input type="radio" name ="calculation" value="-">-</td>
        </tr>
        <tr>
         <td><input type="radio" name ="calculation" value="/">/</td>
        </tr>
        
</table>
        <input type="reset" name ="reset" value="reset"></td>
        <input type="submit" name ="submit" value="submit"></td>
</form>
</body>
    </html>